<h3 class="text-center"><%= @user.email %></h3>
<br />
<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <%= form_for @podcast, class: "form-inline", role: "form" do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="input-group">
        <%= f.label :feed_url, class: "sr-only" %>
        <%= f.text_field :feed_url, placeholder: "Feed Url", class: "form-control" %>
        <span class="input-group-btn">
          <%= f.submit "Subscribe", class: "btn btn-default" %>
        </span>
      </div>
    <% end %>
  </div>
</div>

<% if @user.podcasts.any? %>
  <h2 class="text-center">Subscriptions</h2>
  <% @user.podcasts.each do |podcast| %>
    <p class="text-center"><%= podcast.feed_url %></p>
  <% end %>
<% end %>