<%= form_for Podcast.new, class: "form-inline", role: "form" do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="input-group">
    <%= f.label :feed_url, class: "sr-only" %>
    <%= f.text_field :feed_url, placeholder: "Feed Url", class: "form-control" %>
    <span class="input-group-btn">
      <%= f.submit "Subscribe", class: "btn btn-default" %>
    </span>
  </div>
<% end %>