<%
  if user_signed_in?
    watched_episode = WatchedEpisode.find_by(user_id: current_user.id, episode_id: episode.id)
    media_element_url = watched_episode ? "#{episode.media_url}#t=#{watched_episode.seconds_seen}" : media_element_url = episode.media_url
  else
    media_element_url = episode.media_url
  end
%>
<% if !episode.media_url.blank? %>
  <% case File.extname(episode.media_url) %>
  <% when '.mp3' %>
    <%= audio_tag media_element_url, id: "audio-player-episode#{episode.id}", controls: "controls", data: { epid: episode.id } %>
  <% when '.mp4', '.m4v' %>
    <%= video_tag media_element_url, id: "video-player-episode#{episode.id}", preload: "metadata", controls: "controls", data: { epid: episode.id } %>
  <% else %>
    <p class="text-center"><a href="<%= episode.media_url %>">Media File&nbsp;(<%= File.extname(episode.media_url) %>)</a></p>
  <% end %>
  <% if user_signed_in? %>
    <%= form_for WatchedEpisode.new, remote: true, html: { id: "new_watched_episode#{episode.id}" } do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :episode_id, value: episode.id %>
      <%= f.hidden_field :seconds_seen, id: "timecode#{episode.id}" %>
    <% end %>
  <% end %>
<% else %>
  <p class="text-center">Oh noes! Couldn't figure out media url!</p>
<% end %>