<%
  watched_episode = WatchedEpisode.find_by(user_id: current_user.id, episode_id: episode.id)
  media_element_url = watched_episode ? "#{episode.media_url}#t=#{watched_episode.seconds_seen}" : media_element_url = episode.media_url
%>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= episode.id %>">
        <%= episode.title %>
      </a>
    </h4>
  </div>
  <div id="collapse-<%= episode.id %>" class="panel-collapse collapse">
    <div class="panel-body">
      <%= render partial: 'episodes/episode_media', locals: { episode: episode} %>
      <br />
      <%= render partial: 'episodes/episode_description', locals: { episode: episode} %>
    </div>
  </div>
</div>