<%
  episode = collapse_episode
  watched_episode = WatchedEpisode.find_by(user_id: current_user.id, episode_id: episode.id)
  media_element_url = watched_episode ? "#{episode.media_url}#t=#{watched_episode.seconds_seen}" : media_element_url = episode.media_url
%>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= episode.id %>">
        <%= episode.title %>
      </a>
    </h4>
  </div>
  <div id="collapse-<%= episode.id %>" class="panel-collapse collapse">
    <div class="panel-body">
      <% if !episode.media_url.blank? %>
        <% case File.extname(episode.media_url) %>
        <% when '.mp3' %>
          <%= audio_tag media_element_url, id: "audio-player-episode#{episode.id}", controls: "controls", data: { epid: episode.id } %>
        <% when '.mp4', '.m4v' %>
          <%= video_tag media_element_url, id: "video-player-episode#{episode.id}", preload: "metadata", controls: "controls", data: { epid: episode.id } %>
        <% else %>
          <p class="text-center"><a href="<%= episode.media_url %>">Media File&nbsp;(<%= File.extname(episode.media_url) %>)</a></p>
        <% end %>
        <%= form_for WatchedEpisode.new, remote: true, html: { id: "new_watched_episode#{episode.id}" } do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :episode_id, value: episode.id %>
          <%= f.hidden_field :seconds_seen, id: "timecode#{episode.id}" %>
        <% end %>
      <% else %>
        <p class="text-center">Oh noes! Couldn't figure out media url!</p>
      <% end %>
      <br />
      <a data-toggle="modal" data-target="#full-entry-episode<%= episode.id %>">
        <div class="well"><%= truncate(strip_tags(episode.summary), length: 250) %></div>
      </a>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="full-entry-episode<%= episode.id %>" tabindex="-1" role="dialog" aria-labelledby="modal-label-episode<%= episode.id %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modal-label-episode<%= episode.id %>"><%= episode.title %></h4>
      </div>
      <div class="modal-body">
        <%= raw episode.summary %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>