<%
  uid = episode.published.to_i

  if defined? episode.enclosure_url
    media_url = episode.enclosure_url
  elsif defined? episode.image
    media_file = episode.image
  else
    media_url = nil
  end
%>

<h3 class="text-center"><%= episode.title %></h3>
<% if !media_url.blank? %>
  <% case File.extname(media_url) %>
  <% when '.mp3' %>
    <%= audio_tag media_url, id: "audio-player-#{uid}", controls: "controls" %>
  <% when '.mp4', '.m4v' %>
    <%= video_tag media_url, id: "video-player-#{uid}", preload: "metadata", controls: "controls" %>
  <% else %>
    <p class="text-center"><a href="<%= media_url %>">Media File&nbsp;(<%= File.extname(media_url) %>)</a></p>
  <% end %>
<% else %>
  <p class="text-center">Oh noes! Couldn't figure out media url!</p>
<% end %>


<br />
<a data-toggle="modal" data-target="#full-entry-<%= uid %>">
  <div class="well"><%= truncate(strip_tags(episode.summary), length: 250) %></div>
</a>

<!-- Modal -->
<div class="modal fade" id="full-entry-<%= uid %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-<%= uid %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel-<%= uid %>"><%= episode.title %></h4>
      </div>
      <div class="modal-body">
        <%= raw episode.summary %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>