<h3 class="text-center"><%= @feed.title %></h3>
<% @feed.entries.each do |entry| %>
  <h4><%= entry.title %></h4>
  <p><%= raw entry.summary %></p>
  <% if defined? entry.enclosure_url %>
    <a href="<%= entry.enclosure_url %>">Media</a>
  <% elsif defined? entry.image %>
    <a href="<%= entry.image %>">Media</a>
  <% end %>
<% end %>